iframe {
    width: 100vw;
    height: calc(100vh + 60px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.rotated {
    width: 100vh;
    height: calc(100vw + 60px);
    transform: rotate(90deg) translateX(-7vh) translateY(-20vw);
}